
body {
    background-color: lime;
}


h1 {
	float:left;
	display:block;
	color:blue;
	background-color:lime;
	padding:0px 20px 0px 20px;
	height:100px;
	width:320px;
	font-family:cursive;
	position:absolute;
	left:0px;
	top:0px;
}

h2 {
	float:left;
	display:block;
	color:blue;
	background-color:lime;
	padding:0px 20px 0px 20px;
	height:100px;
	width:320px;
	font-family:cursive;
	position:absolute;
	left:0px;
	top:50px;
}

h3 {
	float:left;
	display:block;
	color:blue;
	background-color:lime;
	padding:0px 20px 0px 20px;
	height:100px;
	width:320px;
	font-family:cursive;
	position:absolute;
	left:0px;
	top:250px;
}

li {
	float:left;
	display:block;
	color:blue;
	background-color:lime;
	padding:0px 20px 0px 20px;
	height:100px;
	width:320px;
	font-family:cursive;
	position:relative;
}

#div1 {
	float:left;
	display:block;
	color:blue;
	background-color:grey;
	padding:0px 20px 0px 20px;
	height:150px;
	width:320px;
	font-family:cursive;
	position:relative;
	top:-30px;
}


#h2two {

	position:relative;
	left:120px;

}


#div2 {
	height:400px;
	display:block;
	color:blue;
	background-color:grey;
	padding:0px 20px 0px 20px;
	margin:auto;
	font-family:cursive;
	position:relative;
	top:-60px;
	width:320px;
	left:-167px;

}

#label1 {
	display:inline-block;
	background-color:grey;
	color:red;
	position:relative;
	left:50px;
	font-family:cursive;
}

#label2 {
	display:inline-block;
	background-color:grey;
	color:green;
	position:relative;
	left:110px;
	font-family:cursive;
}

img {

	float:clear;
	position:absolute;
	left:25px;
	top:485px;
	display:block;
	height:300px;
	width:300px;
	
}

#box1 {

	position:absolute;
	left:75px;
	top:535px;
	display:block;
	height:50px;
	width:50px;

}

#box2 {

	position:absolute;
	left:150px;
	top:535px;
	display:block;
	height:50px;
	width:50px;

}

#box3 {

	position:absolute;
	left:225px;
	top:535px;
	display:block;
	height:50px;
	width:50px;

}

#box4 {

	position:absolute;
	left:75px;
	top:610px;
	display:block;
	height:50px;
	width:50px;

}

#box5 {

	position:absolute;
	left:150px;
	top:610px;
	display:block;
	height:50px;
	width:50px;

}


#box6 {

	position:absolute;
	left:225px;
	top:610px;
	display:block;
	height:50px;
	width:50px;

}


#box7 {

	position:absolute;
	left:75px;
	top:685px;
	display:block;
	height:50px;
	width:50px;

}


#box8 {

	position:absolute;
	left:150px;
	top:685px;
	display:block;
	height:50px;
	width:50px;

}


#box9 {

	position:absolute;
	left:225px;
	top:685px;
	display:block;
	height:50px;
	width:50px;

}

#p1image {

	position:absolute;
	left:180px;
	top:290px;
	display:block;
	height:50px;
	width:50px;

}

#p2image {

	position:absolute;
	left:180px;
	top:395px;
	display:block;
	height:40px;
	width:40px;

}